* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #90A0FF;
    background: linear-gradient(0deg, rgba(222,255,156,1) 0%, rgb(255, 255, 255) 40%, rgba(144,160,255,1) 100%);
}
.width-rule {
    max-width: 1440px;
    margin: 0 auto;
}
@font-face {
    font-family: 'Suisse Intl Book';
    src: url('fonts/SuisseIntl-Book.eot');
    src: url('fonts/SuisseIntl-Book.eot?#iefix') format('embedded-opentype'),
        url('fonts/SuisseIntl-Book.woff2') format('woff2'),
        url('fonts/SuisseIntl-Book.woff') format('woff'),
        url('fonts/SuisseIntl-Book.ttf') format('truetype'),
        url('fonts/SuisseIntl-Book.svg#SuisseIntl-Book') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Berold';
    src: url('fonts/Berold.eot');
    src: url('fonts/Berold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Berold.woff2') format('woff2'),
        url('fonts/Berold.woff') format('woff'),
        url('fonts/Berold.ttf') format('truetype'),
        url('fonts/Berold.svg#Berold') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.head {
    background-image: url(images/Asset3.png);
    background-size: 1600px;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-position: center 40px;
}

.head-content {
    display: flex;
    justify-content: space-between;
}
.head2{
    padding-right: 75px;
}
.zglvk {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 75px;
    font-family: 'Suisse Intl Book';
    font-size: 24px;
    color: #ffffff;
    padding-top: 35px;
}

.zglvk2 {
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-family: 'Suisse Intl Book';
    font-size: 24px;
    color: #ffffff;
}
.veet {
    display: flex;
    height: 130px;
}
.menu {
    display: flex;
    justify-content: space-between;
    gap: 80px;
    font-family: 'Suisse Intl Book';
    font-size: 18px;
    color: #ffffff;
    padding-top: 35px;
}
.menu div{
    white-space: nowrap;
}
.button-hover{
    color: #ffffff;
    text-decoration: none;
}
.button-hover:hover{
    color: #F25149;
}
.button1{
    background-color: #DEFF9C;
}
.button1:hover {
    background-color: #90A0FF;
}
.ellipse {
    width: 29px;
    height: 29px;
    background-image: url(images/Ellipse2.png);
}
.button1:hover .ellipse{
    background-image: url(images/Ellipse1.png);
    width: 29px;
}
.a1{
    text-decoration: none;
    color: #F25149;
}
.button1:hover .a1{
    text-decoration: none;
    color: #DEFF9C;
}
.run {
    display: flex;
    height: 70%;
    margin-left: -140px;
}
.op{
    font-family: 'Suisse Intl Book';
    font-size: 32px;
    color: #ffffff;
    width: 470px;
}
.inf,.form{
    display: flex;
}
.info {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    margin: 80px auto;
    margin-bottom: 30px;
    max-width: 1280px;
    max-height: 620px;
}
.info2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 130px;
    margin-right: 130px;
    margin-top: 90px;
    margin-bottom: 90px;
}
.fam,.things {
    display: flex;
    height: 100%;
}
.onas{
    display: flex;
    font-family: 'Berold';
    font-size: 120px;
    line-height: 120px;
    color: #90A0FF;
    text-transform: uppercase;
}
.who{
    display: flex;
    font-family: 'Suisse Intl Book';
    font-size: 18px;
    color: #000000;
}
.button1{
    display: flex;
    background-color: #DEFF9C;
    border-radius: 30px;
    height: 60px;
    width:300px;
    font-family: 'Suisse Intl Book';
    font-size: 24px;
    color: #F25149;
    justify-content: center;
    gap: 25px;
    align-items: center;
}
.sign1{
    display: flex;
}
.instr,.tar,.pack{
    display: flex;
    flex-direction: column;
    padding-left: 80px;
    padding-right: 80px;
    height: 750px;
    padding-bottom: 80px;
}
.tar{
    margin-bottom: 100px;
}
.instr{
    gap:50px;
    margin-bottom: 50px;
}
.instr2,.tar2,.pack2,.vpr{
    display: flex;
    justify-content: center;
    font-family: 'Berold';
    font-size: 120px;
    line-height: 130px;
    color: #ffffff;
    text-transform: uppercase;
}
.instruction {
    margin-top: 40px;
}
.tar2{
    color: #90A0FF;
    margin-top: 40px;
}
.pack2{
    color: #F25149;
    width: 717px;
}
.vpr{
    color: #90A0FF;
    width: 622px;
}
.steps,.types{
    display: flex;
    justify-content: space-between;
    gap: 80px;
    margin-top: 50px;
}
.step1,.step2,.step3{
    display: flex;
    flex-direction: column;
    width: 370px;
    height: 580px;
    gap: 50px;
    background-size: contain;
    background-repeat: no-repeat;
}
.step1{
    background-image: url(images/telback.png);
   
}
.step2{
    background-image: url(images/tamback.png);
    gap: 50px;
}
.step3{
    background-image: url(images/spinback.png);
    background-position: right;
    gap: 50px;
}
.stp1,.stp2,.stp3{
    display: flex;
    background-color: #ffffff;
    max-height: 80px;
    max-width: 230px;
    border-radius: 25px;
    justify-content: center;
    font-family: 'Berold';
    font-size: 55px;
    color: #F25149;
    text-transform: uppercase;
    padding-bottom: 100px;
}
.stp2{
    margin-top: 175px;
}
.stp3{
    margin-top: 340px;
}
.txt,.txt2,.txt3,.cost,.cost2,.cost3,.phrase,.stroke,.num,.num2{
    display: flex;
    font-family: 'Suisse Intl Book';
    font-size: 18px;
    color: #000000;
}
.txt2{
    width: 410px;
}
.type1,.type2,.type3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background-color: #DEFF9C;
    border-radius: 10px;
    width: 350px;
    height: 550px;
    cursor: pointer;
    transition: 1s;
}
.type1:hover{
    transform: scale(1.1);
}
.type2:hover{
    transform: scale(1.1);
}
.type3:hover{
    transform: scale(1.1);
}
.tp1,.tp2,.tp3{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: -15px;
    margin-bottom: -20px;
    gap: 12%;
    width: 300px;
    height: 80px;
}

.tp2{
    gap: 17%;
}
.tp3{
    gap: 22%;
}
.strela2,.strela3{
    height: 27px;
}
.name,.name2,.name3{
    display: flex;
    font-family: 'Suisse Intl Book';
    font-size: 32px;
    color: #F25149;
}
.name2,.name3{
    width: 160px;
    text-align: center;
}
.name3{
    width: 120px;
}
.flag,.flag2,.flag3{
    display: flex;
    background-image: url(images/flagsitogitog-01.png);
    background-size: cover;
    height: 225px;
    width: 300px;
    border-radius: 8px;
}
.flag2{
    background-image: url(images/flagsitogitog-02.png);
}
.flag3{
    background-image: url(images/flagsitogitog-05.png);
}
.cost,.cost2,.cost3{
    font-size: 32px;
    color: #F25149;
}
.button2{
    display: flex;
    background-color: #90A0FF;
    border-radius: 28px;
    height: 10%;
    width: 70%;
    font-family: 'Suisse Intl Book';
    font-size: 24px;
    color: #ffffff;
    justify-content: center;
    align-items: center;
}
.button2:hover{
    background-color: #ffffff;
}
.button2 .a2{
    color: #ffffff;
    text-decoration: none;
}
.button2:hover .a2 {
    color: #F25149;
}
.button3{
    display: flex;
    background-color: #DEFF9C;
    border-radius: 30px;
    height: 60px;
    width:300px;
    font-family: 'Suisse Intl Book';
    font-size: 24px;
    color: #F25149;
    justify-content: center;
    gap: 25px;
    align-items: center;
}
.button3:hover{
    background-color: #90A0FF;
}
.a3{
    color: #90A0FF;
    text-decoration: none;
}
.button3:hover .a3{
    color: #ffffff;
}
.strela8 {
    display: flex;
    width: 31px;
    height: 31px;
    background-image: url(images/strela4.png);
}
.button3:hover .strela8{
    background-image: url(images/strela5.png);
}
.packs{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.packet{
    height: 400px;
    animation-name: move;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    animation-timing-function: linear;
}
.packet2{
    height: 650px;
    margin-top: -300px;
    animation-name: fly;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    animation-timing-function: linear;
}
@keyframes move {
    0% {
        transform: translate3d(50px, 40px, 30px);
        animation-timing-function: linear;
    }
    50% {
        transform: translate3d(90px, 50px, 30px);
        transform: rotate(7deg);
    }
    100% {
        transform: translate3d(50px, 40px, 30px);
        animation-timing-function: ease;
    }
}
@keyframes fly {
    0% {
        transform: translate3d(0px, 0px, 0px);
        padding-right: 0px;
        animation-timing-function: linear;
    }
    50% {
        transform: translate3d(50px, 30px, 0px);
        padding-right: 50px;
        transform: rotate(5deg);
    }
    100% {
        transform: translate3d(0px, 0px, 0px);
        padding-right: 0px;
        animation-timing-function: ease;
    }
}
.mane{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.form2{
    display: flex;
    flex-direction: column;
    margin-right: 100px;
    gap: 40px;
}
.last{
    display: flex;
    justify-content: space-between;
    align-items: last baseline;
    margin-top: -60px;
}
.phrase{
    width: 300px;
    color: #F25149;
}
.otpr{
    color: #90A0FF;
}
.frm{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: -25px;
}
.stroke{
    display: flex;
    border-bottom: 2px solid #000000;
    opacity: 50%;
}
input{
   border: none;
   outline: none;
   width: 300px;
}
.logo2{
    width: 148px;
}
.vpr{
    font-size: 110px;
    line-height: 110px;
    margin-top: 40px;
}
.contacts{
    display: flex;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 50px;
    justify-content: space-between;
    background-color: #DEFF9C;
}
.tel,.tel2,.tel3{
    display: flex;
    flex-direction: column;
    width: 306px;
    height: 60px;
    justify-content: space-between;
}
.num{
    color: #90A0FF;
}
.tel3{
    align-items: last baseline;
}