@font-face {
    font-family: 'Berold';
    src: url('Berold.eot');
    src: url('Berold.eot?#iefix') format('embedded-opentype'),
        url('Berold.woff2') format('woff2'),
        url('Berold.woff') format('woff'),
        url('Berold.ttf') format('truetype'),
        url('Berold.svg#Berold') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Suisse Intl Book';
    src: url('SuisseIntl-Book.eot');
    src: url('SuisseIntl-Book.eot?#iefix') format('embedded-opentype'),
        url('SuisseIntl-Book.woff2') format('woff2'),
        url('SuisseIntl-Book.woff') format('woff'),
        url('SuisseIntl-Book.ttf') format('truetype'),
        url('SuisseIntl-Book.svg#SuisseIntl-Book') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Berold stylistic';
    src: url('Berold-Beroldstylistic.eot');
    src: url('Berold-Beroldstylistic.eot?#iefix') format('embedded-opentype'),
        url('Berold-Beroldstylistic.woff2') format('woff2'),
        url('Berold-Beroldstylistic.woff') format('woff'),
        url('Berold-Beroldstylistic.ttf') format('truetype'),
        url('Berold-Beroldstylistic.svg#Berold-Beroldstylistic') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

